---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Base Web">
	<main >
		<h1>Welcome to Base Web</h1>
		<p>This is a simple Astro project using a main layout.</p>
	</main>
</MainLayout>